.movie-page {
  min-height: 100vh;
}
.movie-page-content {
  width: 90%;
  margin: 24px auto;
}

.movie-page-movies-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}
.no-movies-text {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
}
.search-value {
  color: #fc4747;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .movie-page-content {
    margin: 48px auto;
  }
  .movie-page-movies-list {
    margin-top: 48px;
    gap: 48px;
  }
}
