.nav-header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 16px auto;
}
.app-title {
  font-size: 24px;
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-item {
}
.nav-link {
  text-decoration: none;
  color: #5a698f;
  transition: color 0.3s;
}
.nav-link-text {
  font-weight: 700;
  font-size: 18px;
}
.nav-link:hover {
  color: #fc4747;
}
.search-form {
  display: flex;
  max-width: 400px;
}

.search-input {
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid #5a698f;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: white;
  font-size: 16px;
  font-family: inherit;
  padding: 8px;
  outline: none;
}
.search-button {
  border: 1px solid #5a698f;
  background-color: rgba(60, 73, 105, 0.1);
  color: #fff;
  padding: 8px 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .app-title {
    font-size: 34px;
  }
  .nav-header {
    margin: 24px auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  .nav-list {
    flex-direction: row;
    align-items: center;
  }
  .mobile-search-bar {
    display: none;
  }
  .nav-link-text {
    font-size: 20px;
  }
  .search-form {
    display: block;
    margin-left: 34px;
  }
  .nav-list {
    gap: 34px;
  }
  .nav-link {
    font-size: 18px;
  }
}
